<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       https://www.springframework.org/schema/beans/spring-beans.xsd">
       
       <bean id="order" class="com.raj.sbeans.OrderService">
          <property name="orderId" value="1111"></property>
          <property name="paymentService" ref="payment"></property>
       </bean>
       
       <bean id="payment" class="com.raj.sbeans.PaymentService">
          <constructor-arg name="paymenyId" value="9999097"/>
          <constructor-arg name="orderService" ref="order"/>
       </bean>
</beans>    