<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable component scanning -->
    <context:component-scan base-package="com.raj.sbeans"/>
    
    <bean id="engine1" class="com.raj.sbeans.Engine">
        <constructor-arg value="Diesel"></constructor-arg>
        <constructor-arg value="180"></constructor-arg>
    </bean>
    
    <bean id="tyre1" class="com.raj.sbeans.Tyre">
         <property name="brand" value="MRF"></property>
         <property name="size" value="18"></property>
    </bean>
    
    <bean id="vehicle1" class="com.raj.sbeans.Vehicle">
       <property name="vehicleName" value="Toyota Fortuner"></property>
       <constructor-arg ref="engine1"></constructor-arg>
    </bean>
    
    <bean id="serviceCenter" class="com.raj.sbeans.ServiceCenter">
         <property name="serviceType" value="Full Engine Checkup"></property>
    </bean>
    

</beans>